* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.menu-icon {
  margin: 0.5rem;
  margin-top: 1.5rem;
  font-size: 2rem;
}

.menu-drawer {
  top: 0;
  z-index: 1;
  width: 275px;
  min-height: 100vh;
  padding-top: 1rem;
  background-color: rgb(13, 68, 9);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.45);
  transform: translateX(-283px);
  transition: transform 0.2s ease-in-out;
}

.menu-drawer.is-open {
  transform: translateX(0);
}

.menu-heading {
  display: flex;
  justify-content: center;
  font-family: Bahiana, sans-serif;
  font-size: 50pt;
  color: yellow;
}

.menu-item-div {
  margin-top: 1rem;
}

.menu-item {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  list-style-type: none;
  background-color: rgb(13, 68, 9);
  transition: background-color 0.25s ease-in-out;
  color: yellow;
}

.menu-shade {
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(11, 20, 16);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out;
}

.menu-shade.is-drawn {
  opacity: 0.5;
  pointer-events: all;
}

.menu-icon,
.menu-item {
  cursor: pointer;
}

.menu-drawer,
.menu-shade {
  position: absolute;
}

.menu-item:hover {
  background-color: rgb(145, 169, 41);
}
